.groupChat_section {
  margin-left: 20px;
}
.groupChat_section_chat {
  display: flex;
  align-items: center;
  
}
.groupChat_section_chat_field {
  outline: none;
  border: 1px solid black;
  border-radius: 28px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  height: 36px;
  

}
.groupChat_section_chat_textFieldImage{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
}
.chat-messages{
  display: flex;
  flex-direction: column-reverse;
  
  
}
.my-message {
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
}

.other-message {
  text-align: left;
}
.chat-messages_image{
  width: 50px;
  border-radius: 50%;
  position: relative;
  bottom: 10px;
}